<h3> What's in your potion? </h3>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient%>

  <%= f.submit "Cast your spell", class: "btn btn-danger" %>
<% end %>
